body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0px;
}

.top-menu {
    display: flex;
    background-color: #E7E9FC;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    align-items: center;

}

.top-menu-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 40px;
   
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-colour {
    color: #2e2f42;
}

.contact-details {
    display: flex;
    font-weight: 400;
    font-style: normal;
}

.contact-list {
    display: flex;
    list-style-type: none;

}
.motto {
    background-color: #2E2F42;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.motto-head {
    font-size: 56px;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    opacity: 0px;
    line-height: 1.5;
    cursor: pointer;
}

.btn:hover {
    background-color: #404bbf;
}

.btn:focus {
    background-color: #404bbf;
}

.team {
    background-color: #F4F4FD;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2E2F42;

}

.team-head {
    line-height: 1.11;
    font-size: 20px;
    line-height: 1.2;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
}

.team-one {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-one-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.first {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.first:hover {
    color: #404bbf;
}

.first:focus {
    color: #404bbf;
}

.mail {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.mail:hover {
    color: #404bbf;
}

.mail:focus {
    color: #404bbf;
}

.value-one {
    font-size: 20px;
    color: #2E2F42;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

}

.value-one-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: 36px;
}

.portfolio-head {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    letter-spacing: 0.02em;

}

.portfolio-head-image {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-head-text {
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.buttom {
    background-color: #2E2F42;

}

.logo-buttom {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: #2E2F42;
}

.logo-buttom-colour {
    color: #F4F4FD;

}

.buttom-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}